.partial-inspector {
  border: 1px solid #b6cedb;
  color: #000;
  background: #e3ecf0;
  padding: 10px;
  font-size: 14px;
  line-height: 1.3em;
  font-family: monospace;
  margin: 0.5em 0;
}

.partial-inspector h2 {
  border-color: #0092db;
  color: #000;
  margin: 0;
  padding: 0;
  font-size: 1em;
}

.partial-inspector ul {
  padding: 0;
  margin: 0;
}

.partial-inspector li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
  font-size: 1em;
}
